    <div class="jumbotron">
      <h1 class="jumbotron-heading text-center"><%= @team.name %></h1>
    </div>
    <div class="row">
      <div class="col">
        <ul class="list-group">
          <%= for player <- @team.players do %>
          <li class="list-group-item "> <%= player %>
            <span class="float-right">
              <div class="d-inline p-2 bg-warning text-white">Pending</div>
            </span>
          </li>
          <% end %>
        </ul>
      </div>
    </div>