<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>Papelito game</title>
</head>

<body></body>
<div class="container">
  <div class="jumbotron">
    <h1 class="jumbotron-heading text-center"> Frase del papelito </h1>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="text-center">
        00 : 59 : 59
      </h2>
    </div>
    <div class="w-100 mt-5"></div>
    <div class="col">
      <button type="button" class="btn btn-primary btn-lg btn-block p-5">Block level button</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-secondary btn-lg btn-block p-5">Block level button</button>
    </div>
  </div>
</div>

<script src="/js/bootstrap.min.js"></script>
</body>

</html>